# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.svelte-kit/
.output/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
apps/*/.env
apps/*/.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Debug
.vscode-test
*.cpuprofile

# Misc
.turbo
.cache/

# Prisma
prisma/.env
apps/server/prisma/migrations/*_draft.sql

# Docker
docker-compose.override.yml